@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@function rem($value) {
    @return unquote(($value/1px)/16+"rem");
}

$easeTime:0.25s;
$easeTimes:.5s;
$marginTop: 65px;
$marginBottom:10px;
$mrTop:20px;
$mt:8px;

$colors: ("solidBlack": "#111316",
    "midnightBlack": "#2B3139",
    "bgDarkGray": "#707070",
    "bglightWhite": "#FCFCFC",
    "darkWhite":"#FFFFFF",
    "brMattGray":"#CFCFCF",
    "fontBlack": "#434C58",
    "bgpWhite": "#F1F1F2",
    "fontGray": "#E1E1E1",
    "hoverWhite": "#8A8A8A",
    "hoverBgGray": "#42484F",
    "darkRed": "#ff7d31",
    "bgmattGray": "#42484F",
    "iconBg": "#d0b9a8",
    "iconHover": "#d6ebf7",
    "iconColor": "#C1BB93",
    "lightBlack": "#979797"

);

.tr-bg{
    background:#F9F9F9;
}
.mr-top {
    margin-top: $mrTop;
}
.mrtp-top{
    margin-top: $mt;
}
.mrTop{
    margin-top:$marginTop;
}
.mr-left{
    margin-left:-30px;
}
p {
    color: #cec0c0;
}

@each $colorName,
$colorValue in $colors {
    .bg-#{$colorName} {
        background-color:#{$colorValue};
    }

    .text-#{$colorName} {
        color:#{$colorValue};
    }
}

body {
    @extend .bg-bgpWhite;
    @extend .text-fontBlack;
    font-family: 'Roboto', Sans-serif;
    font-weight: 300;
    word-spacing: rem(.4px);
    letter-spacing: rem(.1px);

    p {
        line-height: rem(28px);
        font-size:14px;
        font-weight:300;
    }
    h4{
        font-size:20px;
        font-weight:400;
        margin-bottom:0;
        margin-top:20px;
        @extend .text-midnightBlack;
    }
}

.section-navbar {
    .braNd {
        -moz-transition: all .5s linear;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
        font-size:20px;
        cursor:pointer;
    }
    .navbar {
        padding-left: 0;
        @extend .bg-darkWhite;
        border-bottom:1px solid #f1f1f2;
        form.form-inline{
            position:relative;
            .form-control{
                border:1px solid #cfcfcf;
                height:30px;
                font-size:13px;
                font-weight:300;
                &:focus{
                    box-shadow:none;
                }
                &::placeholder{
                    font-size:12px;
                    @extend .text-brMattGray;
                    line-height:20px;
                }
            }
            .search{
                position:absolute;
                right:15px;
                @extend .text-brMattGray;
            }
        }

        .navbar-brand {
            .p-bnd{
                transition:all ease 1s;
                text-decoration:none;
                color:#fff;
            }
            span.brand {
                cursor:pointer;
                @extend .text-darkWhite;
                font-weight: 400;
                text-transform: lowercase;
                font-size: 25px;
                padding: 19px 59px;
                @extend .bg-solidBlack;
                transition:all ease .5s;
                -webkit-transition:all ease .5s;
                -moz-transition:all ease .5s;
                img{
                    display:none;
                    transition:.5s all ease;
                }
            }
        }

        .nav-link {
            @extend .text-fontBlack;
            font-size: 13px;
            font-weight: 400;

            &:hover {
                background: none;
            }
        }

        .dropdown {
            .dropdown-menu {
                left: -100% !important;
                transition: all ease $easeTime;
                @extend .bg-darkWhite;
                border: none;
                margin-left:-30px;
                min-width:auto;
                padding-right:10px;
                box-shadow: 0px 0px 0px rgb(142, 142, 142), 0px 0px 0px rgb(160, 150, 150), 0px 0px 15px rgb(189, 188, 188);

                .dropdown-item {
                    @extend .text-midnightBlack;
                    font-size: rem(14px);

                    &:hover {
                        transition: all ease $easeTimes;
                        @extend .text-bgDarkGray;
                    }
                    &:focus{
                        background:none;
                    }
                }
            }
        }
        .dropdown-toggle:after{
            display:none;
        }
        .navbar-nav .nav-item{
            padding:0 5px;
            i{
                margin-top:12px;
                font-size:14px;
                @extend .text-fontBlack;
            }
            .badge{
                position:absolute;
                top:10px;
                right:0;
                border-radius:50px;
                padding:0;
                width:15px;
                height:15px;
                line-height:15px;
            }
        }
    }
}

.wrapper {
    margin-top: rem($marginTop);
    min-height:95vh;

    .sideMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin: rem($marginTop) auto auto;
        width: rem(238px);
        transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transform: translateX(-100%);
        z-index:1000;
        .icon {
            margin-right: rem(4px);
            font-size: rem(14px);
            vertical-align: middle;
            height: rem(25px);
            width: rem(25px);
            @extend .text-iconColor;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        a, .nav-link{
            &:hover,
            &.active{
                .icon {
                    @extend .text-iconHover;
                }
            }
        }

        .navbar-nav {
            max-height: calc(100% - 0px);
            height: calc(100% - 0px);
            overflow-Y: auto;
            overflow-X:hidden;
            height:100%;
            width:100%;
            position:absolute;
            @extend .bg-midnightBlack;
            &::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 6px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar{
                width: 6px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb{
                border-radius: 4px;
                margin:0 2px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }


            .nav-link {
                position: relative;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
    }

    .content {
        width: 100%;
        margin-left: rem(0px);
        transition: all ease $easeTime;
    }

    &.active {
        .sideMenu {
            transform: translateX(0);
        }
    }
}

.sideMenu .nav-item{
    margin-bottom:3px;
    .nav-link {
        display: block;
        white-space: nowrap;
        padding-left:rem(5px) !important;
        
        .text {
            font-size: rem(13px);
            // font-weight: 400;
            @extend .text-darkWhite;
        }
    
        &:hover,
        &.active,
        &:focus {
            @extend .bg-hoverBgGray;
            transition: all ease $easeTime;
    
            .text {
                @extend .text-hoverWhite;
            }
        }
        
    }
}




// for-dropdown-menu
.sideDrop .uniqueMenu {
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sideDrop .uniqueMenu i.arrow {
    position: absolute;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: rem(8px);
    right: 0;
    font-size:rem(12px);
}

.sideDrop li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 12px;
}

.sideDrop li.open {
    i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.submenuMenu {
    display: none;
    padding:0;
    margin-top:rem(10px);
    margin-bottom:rem(10px);

    li {
        padding: rem(10px 0px);
        padding-left: rem(30px);
        list-style: none;
        margin-bottom:3px;

        &:hover,
        &.active{
            transition: all ease $easeTime;
            @extend .bg-hoverBgGray;
            a{
                @extend .text-hoverWhite;
            }
        }

        a {
            display: block;
            padding: 8px 0;
            text-decoration: none;
            @extend .text-darkWhite;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            font-size: rem(14px);
        }
    }
}


// for-dropdown-menu


//main content desing start

.content {
    margin-bottom:15px;
    margin:15px 15px 20px 255px !important;
    @extend .bg-darkWhite;
    border-radius:5px;
    .separator{
        padding-bottom:rem(20px);
        width:100%;
        display:inline-block;
        .heading{
            padding-bottom:rem(20px);
            font-size:rem(24px);
            @extend .text-lightBlack;
            font-weight:300;
            border-bottom:1px solid #eeeeee;
        }
        .form-group{
            margin-top:rem(25px);
            label{
                font-size:rem(13px);
                @extend .text-midnightBlack;
                font-weight:400;
            }
            .form-control{
                border:1px solid #e1e1e1;
                transition:all ease $easeTime;
                &:focus{
                    box-shadow:none;
                    border:1px solid #cec0c0;
                }
                &::placeholder{
                    @extend .text-fontGray;
                    font-size:13px;
                    font-weight:300;
                }
            }
        }
        .button-bt{
            padding-bottom:rem(100px);
            .btn-dark{
                margin-top:15px;
                padding:10px 20px;
                font-size:14px;
                font-weight:300;
                &:focus,
                &.active:focus{
                    box-shadow:none;
                }
            }
            .bt-small{
                padding:8px 35px;
            }
        }
    }
}

//main content desing end

//table design 
.content .heading span{
    float:right;
    a{
        font-size:15px;
        text-decoration:none; 
        font-weight:400;
        @extend .text-midnightBlack;
    }
    
}
.bdr-none{
    border-bottom:none !important;
}
.table-design {
    text-align:left;
    width:100%;
    float:left;
    .table td, .table th{
        border:none;
    }
    .table thead th{
        border-bottom:none;
    }
    .table thead tr{
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
    }
    .table{
        thead th{
            font-size:15px;
            font-weight:600;
            @extend .text-midnightBlack;
            padding-left:5px;
        }
        tbody th{
            font-size:13px;
            font-weight:600;
            @extend .text-midnightBlack;
            padding:20px 5px;
        }
        tbody td{
            font-size:13px;
            font-weight:400;
            @extend .text-midnightBlack;
            padding:20px 5px;
            a{
                font-size:13px;
                @extend .text-bgDarkGray;
                margin:0 5px;
            }
        }
    }
} 
//table design 


//footer section start
.section-footer{
    @extend .bg-bgmattGray;
    height:45px;
    text-align:center;
    position:absolute;
    right:0;
    left:0;
    overflow:hidden;
    .footer-title{
        p{
            margin-top:10px;
            font-size:13px;
            color:#fff;
        }
    }
}
//footer section end

// start responsive


.date{
    label{margin-left: 20px;}
    #datepicker{width:180px; margin: 0 20px 20px 20px;}
    #datepicker > span:hover{cursor: pointer;}
}
